:root {
  --primary-orange: #f5911e;
  --secondary-orange: #ffb964;
  --tertiary-orange: #ffdca0;
  --primary-navy: #002841; 

}

/* Section 0 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}



body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;

  display: grid;
  grid-template-rows: auto 1fr auto; /* Header, Main Content, Footer */
  min-height: 100vh;
}

header {
  background-color: #333;
  padding: 15px;
  text-align: center;
  color: white;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #928e8e;
}

.card {
  background-color: whitesmoke;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
}
