:root {
  --primary-orange: #f5911e;
  --secondary-orange: #ffb964;
  --tertiary-orange: #ffdca0;
  --primary-navy: #002841; 

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
h1 {
  font-size: 1.8rem;
}
.topnav,
footer {
  background-color: var(--primary-navy);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--tertiary-orange);
}
.topnav {
  padding: 1rem;
}
footer {
  padding: 0.5rem;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--tertiary-orange);
  color: var(--tertiary-orange);
}
.content {
  padding: 1rem;
  height: 100%;

  display: grid;
  grid-template-columns: 0.75fr 4fr 1fr;
  gap: 10px;
}
.cards {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}
.card {
  background-color: var(--primary-navy);
  box-shadow: 2px 2px 12px 1px rgba(140, 140, 140, 0.5);
  border-radius: 0.5rem;
  padding: 1rem;
}
.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--primary-orange);
}
.reading {
  font-size: 1.0rem;
  color: var(--secondary-orange);
}

.rawData {
  height: 65vh;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2rem;
  color: var(--primary-navy); 
  padding-top: 0.78rem;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid var(--primary-navy);
  text-align: left;
  padding: 8px;
}

th {
  background-color: var(--primary-navy); 
  color: var(--primary-orange); 
}

.chart {
  height: 65vh;
  width: 100%;
}
.chart canvas {
  max-height: 100%;
  width: 100%;
}

button {
  background-color: var(--primary-navy);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.4);
  color: var(--tertiary-orange); 
  align-self: center;
}
.lower-buttons > button {
  padding: 1rem;
  width: 15rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  margin: 1rem;
}

.mcu-buttons {

}
.mcu-buttons > * {
  padding: 0.5rem;
  font-size: 1.0rem;
  align-self: self-end;
}
#start-stop {
  /* border: 4px solid green; */
}
.mcu-button {
  border-radius: 10%;
}

#equationText {
  color: var(--primary-navy);
}
